* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: Roboto, arial;
}


.main {
    background: linear-gradient( to top , rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(1.jpg) ;
    height: 123vh;
    width: 100%;
    background-size:cover;
    background-position: center;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto
}

.icon {
    width: 200;
    height: 70;
    float: left;
}

.logo {
    color: orange;
    font-family: Roboto, arial;
    font-size: 46px;
    padding-left: 10px;
    float: left;
    padding-top: 10px;
}

.menu {
    width: 400px;
    height: 70;
    float: left;
}

ul {
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

ul li {
    margin-top: 34px;
    margin-left: 70px;
    list-style: none;
    font-size: 14px;
}

ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

ul li a:hover {
    color: orange;
}

.search {
    width: 350px;
    margin-left: 287px;
    position: absolute;
    right: 45px;
    top: 0;
}

.srch {
    width: 200px;
    height: 35px;
    border: 1px solid orange;
    background-color: transparent;
    margin-top: 20px;
    color: white;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 14px;
    padding: 5px;
    float: left;
}

.btn  {
    width: 100px;
    height: 35px;
    margin-top: 20px;
    background-color: orange;
    color: white;
    border: 1px solid orange;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 14px;
}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}

.content {
    width: 1200px;
    position: relative;
    margin: auto;
    height: auto;
    color: white;
}

.content .para {
    padding-left: 20px;
    margin-bottom: 30px;
    line-height: 40px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.content h1 {
    padding-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: 1px;
    margin-top: 18%;
}

.content .cn {
    margin-left: 20px;
    width: 160px;
    height: 50px;
    font-size: 18px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.content .cn a {
    color: black;
    text-decoration: none;
}

.content .cn:hover {
    background-color: white;
}

.content span {
    color: orange;
    font-size: 70px;
}

.form {
    width: 250px;
    height: 370px;
    background: linear-gradient(to top, rgba(17, 17, 17, 0.719)50%, rgba(8, 8, 8, 0.644)50%);
    position: absolute;
    top: -20px;
    margin-left: 870px;
    padding: 30px;
    border-radius: 5px;
}

.form h3 {
    width: 235px;
    text-align: center;
    color: orange;
    background-color:  white;
    padding: 8px;
    border-radius: 5px;
    font-size: 25px;
    
}

.form input  {
    width: 247px;
    height: 30px;
    background-color: transparent;
    color: white;
    border: 1px solid orange;
    border-top:none;
    border-right:none;
    border-left:none;
    padding-left: 5px;
    margin-top: 30px;
    outline: none;
}

::placeholder{
    color: white;
}

.btn1 {
    margin-top: 30px;
    width: 253px;
    border-radius: 5px;
    font-size: 18px;
    height: 40px;
    cursor: pointer;
    border: none;
    transition:  0.4s ease;
    background-color: orange;
}

.btn1:hover {
    background-color: white;
    color: orange
}

.btn1 a{
    text-decoration: none;
    color: black;
}

.form .link{
    font-size: 17px;
    text-align: center;
    padding-top: 20px;
}

.form .link a {
    text-decoration: none;
    text-align: center;
    color: orange;
}

.form .lnk{
    text-align: center;
    padding-top: 10px;
}

.iconsoc a {
    text-decoration: none;
    color: white;
}

ion-icon {
    font-size: 30px;
    margin-top: 12px;
    padding-left: 16px;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s ease;
}

ion-icon:hover {
    color: orange;
}